{% extends "snmp_app/device_detail.html"%}
{% block content %}
    <table class="table">
      <thead>
        <tr>
        <th>Interface</th>
         <th>Speed </th>
         <th>Admin Status </th>
         <th>Oper Status</th>
         <th>Incoming Octets </th>
         <th>Incoming Unicast Packets</th>
         <th>Incoming Multicast Packets</th>
         <th>Outgoing Octets</th>
         <th>Outgoing Unicast Packets</th>
         <th>Outgoing Multicast Packets</th>
        </tr>
      </thead>
      <tbody>
      {% for interface in devices %}
        <tr>
          <th scope="row">{{ interface.Description }}</th>
          <td>{{ interface.Speed }}</td>
          <td>{{ interface.Admin_Status }}</td>
          <td>{{ interface.Oper_Status }}</td>
          <td>{{ interface.Incoming_Octets }}</td>
          <td>{{ interface.Incoming_Unicast_Packets }}</td>
          <td>{{ interface.Incoming_Multicast_Packets }}</td>
          <td>{{ interface.Outgoing_Octets}} </td>
          <td>{{ interface.Outgoing_Unicast_Packets}} </td>
          <td>{{ interface.Outgoing_Multicast_Packets}} </td>
        </tr>
      {% endfor %}
        <tr>
          <th scope="row">Last Data Retrieved {{ date_now }}</th>
        </tr>
      </tbody>
    </table>
{% endblock content%}
